/* Basics */
* {
    margin: 0; padding: 0; font-size: 16px; font-weight: normal; line-height: 1.2em;
    font-family: Cambria, 'Gentium Basic', Gentium, Bookman, 'Palatino Linotype', Palatino, Georgia, serif;
}
html body { margin: 0; padding: 0; }
body {
    background-color: #E1FAF5;
}
h1, h2 {
  font-family: Helvetica, sans-serif;
  text-align: left;
  display: inline;
  font-style: normal;
}
h1 { font-size: 3em; line-height: 1; text-shadow: 1px 1px 2px #999; }
h2 { font-size: 1.25em; margin-left: 0.5em; font-style: italic; color: #555; }
h4 { font-size: 1.15em; font-weight: bold; text-align: center; }
em {
    font-style: normal;
    font-variant: small-caps;
    font-size: inherit;
}
#header {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

.hidden { display: none; }

.help:hover {
    color: #F78D02;
}
.help i.fa {
    font-size: 2em;
    padding: 0;
}

#header p {
    margin-top: 0.5em;
    /*margin-left: 1.5em;*/
}
#main, #header, #footer { width: 100%; }
#main {
    height: 1%;
    overflow: auto;
}
#subcontainer {
    /*float: left;*/
    width: 80%;
    height: 1%;
    overflow: auto;
}
#character {
    /*float: left;*/
    width: 100%;
    min-width: 200px;
    /*height: 100%;*/
    overflow: auto;
}
#right {
    height: 1%;
    overflow: auto;
    margin-left: 80%;
    width: 18%;
}
#spellsCont {
    margin-left: 1%;
    margin-top: 3em;
    height: 1%;
    overflow: auto;
}
#spellsCont a {
    text-decoration: none;
}
#footer {
    clear: both;
    height: 2em;
}

.tab-bar {
    width: 100%;
    height: 1%;
    overflow: auto;
    padding: 0.5em;
}
.tab-bar li {
    float: left;
    display: block;
    border: 1px solid #555;
    border-radius: 0.3em;
    background-color: #04DEC1;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    opacity: 0.8;
}
.tab-bar li:hover {
    cursor: pointer;
    background-color: #00CCB1;
}
.tab-bar li.selected {
    background-color: #02B099;
    opacity: 1;
}


.col1, .col2 {
    display: none;
    position: relative;
}
.tab-contents .selected {
    display: block;
    border: 1px solid #555;
    border-radius: 0.3em;
    padding: 1em 1em;
    margin: 0 12em 1em 1em;
    height: 1%;
    overflow: auto;
}
#armory {
    width: 70%;
    margin-left: 2em;
    margin-right: 12em;
}


.tab-contents label {
    display: block;
    float: left;
    margin-bottom: 2px;
    vertical-align: middle;
    text-align: left;
    font-size: 1em;
    width: 80%;
    padding-left: 10%;
}
.tab-contents label:last-of-type {
    margin-bottom: 0;
}


label span {
    vertical-align: middle;
    display: inline-block;
    /*padding: 4px 2px;*/
}

label input, label select {
    float: right;
    margin: 0;
    margin-left: 0.5em;
    text-align: right;
    vertical-align: middle;
    border: 2px solid #888;
    border-radius: 2px;
    padding: 2px;
    padding-left: 0;
    background-color: #F8F8F8;
}
label input { width: 60%; }
label select { width: 61%; }

.col1 label { padding-right: 4em; }

.col2 > div {
    float: left;
    width: 38%;
    padding-left: 5%;
    padding-right: 5%;
}
.col2 input { width: 40%; }
.col2 select { width: 41%; }
.col2 .chkbox { margin-right: 19%; }

input#armory_btn[type="button"] {
    /*padding: 5em;*/
    width: 3em;
    position: absolute;
    -webkit-appearance: none;
    right: 0.5em;
    bottom: 0.75em;
    font-size: 1.5em;
    height: 2em;
    border: 2px solid #555;
    border-radius: 0.5em;
    background-color: #33FF00;
    transition: all 0.3s ease;
}
input#armory_btn[type="button"]:hover {
    background-color: #229C03;
}

.tab-contents div h4 {
    margin-bottom: 0.5em;
}

.tab-contents label:hover {
    background-color: #C2F2E9;
}

/* Checkbox settings, phew */
.chkbox {
  width: 1em;
  position: relative;
  margin: 0;
  float: right;
  margin-right: 26%;
}
.chkbox input + span {
  width: 1em;
  height: 1em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.chkbox span:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.chkbox span:hover::after {
  opacity: 0.5;
}
.chkbox input[type=checkbox] {
  visibility: hidden;
}
.chkbox input[type=checkbox]:checked + span:after {
  opacity: 1;
}

p {
    margin-bottom: 1em;
}








table {
  border-spacing: 0;
  border-collapse: collapse;
  float: left;
}
tr, td, th, th:before {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
tr td, th {
    text-align: right;
    padding: 0.2em 0.1em 0.2em 0.6em;
    margin: 0;
}
th { padding-right: 0.3em; }

th:before {
    font-family: FontAwesome;
    font-size: inherit;
    content: '\f0d8';
    padding-right: 0.2em;
    opacity: 0;
}
.name { text-align: left; }
th {
    background-color: #3F5C5B;
    background-color: rgba(63, 92, 91, 0.5);
}
th.sort_asc, th.sort_desc {
    background-color: #233534;
    background-color: rgba(35, 53, 52, 0.8);
}

th.sort_asc:before, th.sort_desc:before { opacity: 0.8; }
th.sort_asc:before { content: '\f0d8'; }
th.sort_desc:before { content: '\f0d7'; }

img { width: 20px; height: 20px; }

tr.spell_Disc {
    background-color: #D5CDA8;
    background-color: rgba(213, 205, 168, 0.4);
}
tr.spell_Disc:hover {
    background-color: rgba(213, 205, 168, 0.7);
}
tr.spell_Holy {
    background-color: #C3BC9A;
    background-color: rgba(195, 188, 154, 0.4);
}
tr.spell_Holy:hover {
    background-color: rgba(195, 188, 154, 0.7);
}
tr.spell_Pally {
    background-color: #D5ADBA;
    background-color: rgba(213, 173, 186, 0.4);
}
tr.spell_Pally:hover {
    background-color: rgba(213, 173, 186, 0.7);
}
tr.spell_Druid {
    background-color: #EAAA79;
    background-color: rgba(234, 170, 121, 0.4);
}
tr.spell_Druid:hover {
    background-color: rgba(234, 170, 121, 0.7);
}
tr.spell_Shaman {
    background-color: #A9D6FF;
    background-color: rgba(169, 214, 255, 0.4);
}
tr.spell_Shaman:hover {
    background-color: rgba(169, 214, 255, 0.7);
}
tr.spell_Monk {
    background-color: #97FFA4;
    background-color: rgba(151, 255, 164, 0.4);
}
tr.spell_Monk:hover {
    background-color: rgba(151, 255, 164, 0.7);
}

/*
.inactive img, img.inactive { opacity: 0.4; }


#filters, #rotations {
	margin-bottom: 1em;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 95%;
}
#filters div div { padding: 0.2em; }
#filters > a, #rotations > a, #spells > a { display: block; background-color: #374F4E; border-bottom: 1px solid #999;}
#filters label { margin-left: 8px; }
#filters img { width: 14px; height: 14px; }

#rotations li {
	background-color: #AFA876;
	margin: 2%;
	border: 1px solid #343434;
	list-style-type: none;
}
#rotation li div { padding: 1%; }
#rotations li div.rotation { height: 100%; overflow: auto; }
#rotations li div.rotation div { clear: both; }
#rotations li div.rotation div.heading {
    height: 1.5em;
	background-color: #697A7D;
	border-bottom: 1px solid #343434;
	background-position: 28px 45%;
}
#rotations li div.rotation div.heading > * { float: left; display: block; clear: none; }
#rotations li div.rotation div.heading > input { float: right; }
.destroy { float:right; color: #E90002; padding: 0 0 0 2px; margin: 0; }
.destroy:hover { cursor: pointer; }


tr.totals td {background-color: #979165; font-weight: bold; }
input.target_time { width: 4em; text-align: right; }

#rotation_storage li { width: 15em; height: 22px; cursor: pointer; }
#rotation_storage li:hover { background-color: #6A6547; }
#rotation_storage { overflow: auto; background-color: #8F8A61; border: 1px solid #6D6D6D;}
*/






body > .modalLink {
    float: right;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 140%;
    padding: 5px;
}
.modalDialog p {
    margin: 12px;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

#right .modalDialog > div {
    width: 800px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.right div {
    float: right;
    padding: 0.5em;
    margin-top: 1em;
}

#deltaView .help {
    float: right;
}
