/* Basics */
* { margin: 0; padding: 0; font-size: 16px; font-weight: normal; line-height: 1.2em; }
html body { margin: 0; padding: 0; }
body { font-family: Cambria, 'Gentium Basic', Gentium, Bookman, 'Palatino Linotype', Palatino, Georgia, serif; }
h1, h2 {
  font-family: Zapfino, 'Monotype Corsiva', 'Script Regular', 'Segoe Script', sans-serif;
  font-size: 1.5em;
  margin: 2% 2%;
  text-align: right;
}
h2 { font-size: 1.25em; text-align: left; }
h4 { font-size: 1.15em; font-weight: bold; text-align: center; }
em { font-weight: bold; }
#header { background-color: #D1FBF2; border-bottom: 1px solid #3F3F3F; padding-top: 2em; padding-bottom: 1em; }

#main, #header, #footer { width: 100%; }
#main {
    height: 1%;
    overflow: auto;
    background-color: #79AFAD;
}
#subcontainer {
    float: left;
    width: 80%;
    background-color: #79AFAD;
    border-right: 1px solid #3F3F3F;
    height: 1%;
    overflow: auto;
}
#character {
    float: left;
    width: 25%;
    min-width: 200px;
    height: 100%;
    overflow: auto;
}
#right {
    height: 1%;
    overflow: auto;
    margin-left: 80%;
    width: 18%;
}
#spellsCont {
    margin-left: 25%;
    margin-top: 0;
    background-color: #D5CC8F;
    height: 1%;
    overflow: auto;
    border-left: 1px solid #3F3F3F;
/*    min-width: 650px;*/
}
#footer {
    clear: both;
    background-color: #D1FBF2;
    border-top: 1px solid #3F3F3F;
    height: 2em;
}
#character > div { margin: 1em 5%; }
#character > div {
    background-color: #618C8B;
    border: 1px solid #5C5C5C;
    border-bottom: 1px solid #323232;
    border-right: 1px solid #323232;
    height: 1%;
    overflow: auto;
    clear: both;
}
#character > div h4, #note .title {
	background-color: #42605F;
	border-bottom: 1px solid #5C5C5C;
}
/* Image settings */
#character > div span {
    width: 15%;
    margin: 0.2em 2.5%;
}
#character > div img {
    width: 15%;
    margin: 0.2em 1.9%;
    border: 1px solid #000;
    float: left;
}
#character > div h4 {
	cursor: pointer;
	height: 1%;
	overflow: auto;
	line-height: 1.2em;
	padding: 1%;
	vertical-align: baseline;
}
#character > div h4:hover { background-color: #374F4E; }
#character > div input, #character > div label {
    float: left;
    margin: 0.2em 1%;
    height: auto;
/*    height: 1.3em;*/
}
#character > div input {
    width: 34%;
    text-align: right;
    background-color: #FFFCD1;
    border: 1px solid #5C5C5C;
    border-top: 1px solid #323232;
    border-left: 1px solid #323232;
}
#character > div label { width: 60%; clear: left; }
#spec_specific label { width: auto; font-size: 0.8em; }
#character > div input[disabled] {
    border: 1px solid #697C6A;
}
div.spec {
    height: 1%;
    overflow: auto;
    clear: both;
}

div.spec div {
    height: 1%;
    overflow: auto;
}

div.spec li.collapse a {
    background-image: url("../images/arrow-right.png");
    background-position: 5px 3px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
div.spec li.expand a {
    background-image: url("../images/arrow-down.png");
    background-position: 5px 3px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
div.spec li a {
    padding-left: 20px;
    display: block;
    clear: both;
}
div.spec li a:hover {
    background-color: #537A78;
}
#character div.spec img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}

#character div.spec .stats input {
    border: 1px solid #888;
    color: #888;
    background-color: #C5C3A2;
}

.inactive img, img.inactive { opacity: 0.4; }
table { 
  border-spacing: 0;
  border-collapse: collapse;
}
tr td, th { border: 1px solid #999; padding: 2px 4px; margin: 0;}
th {
    background-color: #3F5C5B;
    border: 1px solid #484848;
}
th.sort_asc, th.sort_desc { background-color: #233534; }
img { width: 20px; height: 20px; }
tr.spell_Disc { background-color: #D5CDA8; }
tr.spell_Holy { background-color: #C3BC9A; }
tr.spell_Pally { background-color: #D5ADBA; }
tr.spell_Druid { background-color: #EAAA79; }
tr.spell_Shaman { background-color: #A9D6FF; }
tr.spell_Monk { background-color: #97FFA4; }

td { text-align: right; }
.name { text-align: left; }

#filters {
	margin-bottom: 1em;
    background-color: #618C8B;
	border: 1px solid #3F5C5B;
}
#filters > a { display: block; background-color: #374F4E;}
#filters label { margin-left: 8px; }
#filters img { width: 14px; height: 14px; }
#filters div {
	width: 95%;
	margin: 0 2%;
	padding: 0.2em 0.2em;
	background-color: #618C8B;
}