
div#deltaView {
    position: fixed;
    right: 0;
    top: 5em;
    width: 15em;
    margin: 0;
    padding: 0.5em;
    background-color: #618C8B;
    border: 1px solid #464646;
    border-radius: 4px;
}

#deltaView table * {
    font-size: 1em;
}
#deltaView span {
    float: left;
    display: block;
    width: 80%;
}
#deltaView input {
    width: 20%;
    font-size: 1em;
    text-align: right;
    background-color: #FFFCD1;
    border: 1px solid #5C5C5C;
    border-top: 1px solid #323232;
    border-left: 1px solid #323232;
}

.spell_lister {
    height: auto;
    overflow: auto;
    width: auto;
    background-color: #B8B17C;
    border: 1px solid #999;
}
.spell_item {
    display: block;
    height: 1.5em;
    overflow: auto;
    clear: both;
    width: 600px;
}
.spell_item .list_left { display: block; float: left; width: 220px; text-align: left;}
.spell_item .list_right { display: block; float: left; width: 120px; text-align: right;}
.spell_item:hover {background-color: #9C9669;}
table.rotation input { width: 4em; text-align: right; }
table.rotation .no { width: 5em; }
table.rotation .name { width: 80em; }
table.rotation .result { width: 30em; }
