/*#character div div.haste_bar*/
.expandOff {
    background-image: url("../images/arrow-right.png");
    background-position: 5px 50%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    display: block;
    background-color: #42605F;
}
/*#character div div.haste_bar*/
.expandOn {
    background-image: url("../images/arrow-down.png");
    background-position: 5px 50%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    display: block;
    background-color: #42605F;
}
.expandOn:hover, .expandOff:hover { background-color: #374F4E; }
li > a.expandOn, li > a.expandOff { background-color: #547A78; }
div.spec > a {
    background-position: 30px 50%;
}

#character div div.haste_bar {
    clear: both;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: #329199;
}
#character div div.haste_bar:hover {
    background-color: #2B8087;
}
#character div div.haste_current {
    clear: both;
    position: absolute;
    float: none;
    left: 50%;
    top: 1px;
    width: 4px;
    height: 18px;
    background-color: #5F0300;
    overflow: auto;
}
#character div div.haste_current:hover {
    top: 0;
    height: 20px;
    width: 6px;
}
#character div.spec div.breakpoint {
    clear: both;
    position: absolute;
    float: none;
    top: 5px;
    height: 10px;
    width: 10px;
}
#character div.spec div.breakpoint:hover {
    top: 2px;
    height: 14px;
    width: 14px;
}
#character div.spec div.breakpoint img {
    height: 98%;
    width: 98%;
}
#character div.spec .haste_list table * {
    font-size: 0.9em;
}
#character div.spec .haste_list tr.after {
    background-color: #76ABA9;
}
#character div.spec .mana_regen table * {
    font-size: 0.95em;
}

div#deltaView {
    position: fixed;
    right: 10px;
    top: 50%;
    width: 18%;
    background-color: #618C8B;
    border: 1px solid #464646;
}
#deltaView table * {
    font-size: 0.9em;
}
#deltaView span {
    float: left;
}
#deltaView input {
    width: 20%;
    text-align: right;
    background-color: #FFFCD1;
    border: 1px solid #5C5C5C;
    border-top: 1px solid #323232;
    border-left: 1px solid #323232;
}

#armory select, #armory option {
    font-size: 0.8em;
}

.spell_lister {
    height: auto;
    overflow: auto;
    width: auto;
    background-color: #B8B17C;
    border: 1px solid #999;
}
.spell_item {
    display: block;
    height: 1.5em;
    overflow: auto;
    clear: both;
    width: 600px;
}
.spell_item .list_left { display: block; float: left; width: 220px; text-align: left;}
.spell_item .list_right { display: block; float: left; width: 120px; text-align: right;}
.spell_item:hover {background-color: #9C9669;}
table.rotation input { width: 4em; text-align: right; }
table.rotation .no { width: 5em; }
table.rotation .name { width: 80em; }
table.rotation .result { width: 30em; }