<label for="bol">Beacon of Light</label><input name="bol" type="checkbox" <%= spec.attr('bol') ? 'checked="checked"' : ''  %> /> 
<label for="daybreak">Daybreak</label><input name="daybreak" type="checkbox" <%= spec.attr('daybreak') ? 'checked="checked"' : ''  %> /> 
<label for="glyph_lod">Glyph of Light of Dawn</label><input name="glyph_lod" type="checkbox" <%= spec.attr('glyph_lod') ? 'checked="checked"' : ''  %> /> 
<label for="t14_2p_pally">T14 2piece</label><input name="t14_2p_pally" type="checkbox" <%= spec.attr('t14_2p_pally') ? 'checked="checked"' : ''  %> /> 
